/*-----cart items ---->*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
}
h1{
    margin:60px auto; 
    text-align: center;  
}
ion-icon {
    color:black;
    
  }
.cart-page{
    margin:10px ;

}
table{
    width:100%;
    border-collapse: collapse;
}
.cart-info{
    display:flex;
    flex-wrap: wrap;
    

}

th{
   text-align: left;
   padding: 5px;
   color: #fff;
   background: black; 
   font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    widows: 20px;
    height: 30px;
    padding: 5px;

}
td a{
    text-decoration: none;
    color: black;
}
td img{
    width: 100px;
    height:100px;
    margin-right: 10px;
}

.total-price{
    display:flex;
    justify-content: flex-end;
}

.total-price table{
    border-top:3px solid black;
    width: 100%;
    max-width: 400px;

}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}
.checkout{
    float:none;
    margin-left:600px;
    margin-top: 40 px;
    background-color: black;
    font-size: 30px;
    padding: 15px 32px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color:white;

}
@media only screen and (max-width:650px){
    .cart-info p{
        display: none;
    }


}
