<!DOCTYPE html>
<html lang="en">


    <head>
        <title> Add product </title>
    </head>
    <link rel="stylesheet" href="add_product.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body> 
        <h1><b>Add product</b></h1>
        
            <div class="container">
                <img src="add.jpg" alt="add">
                <button class="btn">ADD IMAGE FOR THE PRODUCT</button>
              </div>
         
              <dev>
                <h1 class="title">Product Specifications </h1>
            <form class="form3">
                        <label for="name">Product Name:</label><br>
                        <input type="text"id="name"placeholder="Name" name="name"><br>
                        <label for="Price">Price:</label><br>
                        <input type="number"id="price"placeholder="XXX L.E." name="price" step="0.5"><br>
                        <label for="description">Descripe the product:</label><br>
                        <!--<input type="text"id="description"placeholder="Descripe" name="description"><br>-->
                       <!-- <textarea name="message" rows="10" cols="30"contenteditable="true" ></textarea>-->
                        <section class="Descripe" contenteditable="true">
                            <ul>
                                <li>  </li>
                                <li>  </li>
                                <li>  </li>
                            </ul>
                            </section>
                        <br><br>
                        <button type="submit" class="btn">ADD</button>
                </form>
                </dev> 
    </body>



