<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit your profile</title>
    </head>
<link rel="stylesheet" href="edit_profile.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


 
    <body>
        <dev>
            <h1 class="title"><b>account settings</b> </h1>
        <form class="form1">
            <label for="name">Edit your Name:</label><br>
            <input type="text" id="name" placeholder="Name"name="name"><br>
            <label for="email">Edit your Email:</label><br>
            <input type="email"id="email" placeholder="Email"name="email"><br>
            <label for="psw">Change Password:</label><br>
            <input type="password" placeholder="Password" name="psw" required><br>
            <button type="submit" class="btn">Edit</button>
        </form>
</dev>
<dev>
    <h1 class="title"><b>Personal settings</b> </h1>
<form class="form2">
            <label for="number">Edit your Number:</label><br>
            <input type="tel"id="number"placeholder="phone number" name="number"><br>
            <label for="gender">Gender:</label><br><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female"> 
            <label for="female">Female</label><br><br>
          <!--  <input type="text"id="gender"placeholder="Gender" name="gender"><br>-->
            <label for="bd">Birthday:</label><br>
            <input type="date"id="bd"placeholder="Birthday" name="bd"><br>
            <button type="submit" class="btn" >Edit</button>
    </form>
    </dev> 


    </body>
</html>
