<!doctype html>
<html lang="en">
<head>
    <title>NAVbar</title>
    
    
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        
<style>
    	.notification {
background-color:purple;
position: relative;
}

.notification .badge {
position: absolute;
top: -10px;
right: -10px;
border-radius: 50%;
background-color: orange;
color: white;
}
</style>
 
 
      


</head>
<body>

     <!--------------------------NAVBAR------------------------------->
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: purple;">
        <a class="navbar-brand" href="#" style="font: normal 36px 'Cookie', cursive;color:orange;">
            <img src="cart.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Online <span style="color:white">Shopping</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
           
            
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Sign in</a>
                <a class="dropdown-item" href="#">Sign up</a>
                
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="#" tabindex="-1" aria-disabled="false">customer service</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn  my-2 my-sm-2" type="submit" style="border-radius: 10px;background-color: orange;;outline-color: rgb(247, 128, 18);">Search</button>
          </form>
          <a href="#" class="notification">
            <span><img src="cart.png" style="width:50px" /></span>
            <span class="badge">3</span>
          </a>

        </div>
      </nav>
    
    
      <!--------------------------endNAVBAR------------------------------->

 
   </body>
</html>