<!DOCTYPE html>
<html>
    <head>
        <title>Review</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">

        
            <link rel="stylesheet" href="review.css">
            <script src="review.js"></script>

    </head>
    <body>
        <button class="open-button" onclick="openForm()">Review</button>

        <div class="chat-popup" id="myForm">
          <form action="/action_page.php" class="form-container">
            <h2>Your Opinion Matters</h2>
            <ion-icon name="happy-sharp"></ion-icon>

        
            <label for="msg"><b></b></label>
            <textarea placeholder="Type here.." name="msg" required></textarea>
            
                
            <div class="container d-flex justify-content-center mt-200">
                <div class="row">
                    <div class="col-md-12">
                        <div class="stars">
                            <form action=""> <input class="star star-5" id="star-5" type="radio" name="star" /> <label class="star star-5" for="star-5"></label> <input class="star star-4" id="star-4" type="radio" name="star" /> <label class="star star-4" for="star-4"></label> <input class="star star-3" id="star-3" type="radio" name="star" /> <label class="star star-3" for="star-3"></label> <input class="star star-2" id="star-2" type="radio" name="star" /> <label class="star star-2" for="star-2"></label> <input class="star star-1" id="star-1" type="radio" name="star" /> <label class="star star-1" for="star-1"></label> </form>
                            <button type="submit" class="btn">Send</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        
                        </div>
                    </div>
                </div>
            </div>

        </form>
        </div>
        
        <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>
        

        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
   
    </body>
</html>