* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid  rgb(235, 208, 235);
  background-color: purple;
  width: 20%;
  height: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: rgb(252, 247, 247);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(168, 99, 165);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color:   rgb(168, 99, 165);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 2px solid rgb(235, 208, 235);
  width: 80%;
  height: auto;
  border-bottom-width: 2px;
  border-bottom:auto;
  padding-bottom: 12px;
}

.goto_edit
{
    float:right;
    background-color: #d363cd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}
.goto_edit:hover
{
    background-color: #d363cd;
    opacity: 0.8;
}


html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  
  }
  .column {
    display:inline-block;
    width : 30%;
    margin-bottom: 16px;
    margin-left:30px;
    padding: 0 8px; 
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width:350px;
    border:solid;
    border-color:purple;
    border-radius:10px;
  }
  .container {
    padding: 0 16px;
  }
  .container h2{
    width:30%;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .title {
    color: grey;
  }
  .bn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(168, 99, 165);
    text-align: center;
    cursor: pointer;
    width: auto;
  }
  .bn:hover {
    background-color: purple;
  }


/*this part for footer styling*/
footer{
	position: fixed;
	bottom: 100%;
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
.footer-distributed{
	background-color: purple;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer-distributed,.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
/* The company logo */
.footer-distributed .footer-left img{
	width: 30%;
}
.footer-distributed h3 span{
	color:orange;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:orange;
	text-decoration: none;;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
/*this part for end footer styling*/
.notification {
  background-color:purple;
  position: relative;
  }
  
  .notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  }
  
  .dropdown-menu a:hover {
  background-color:orange;
  color:white;
  }
  .dropdown-menu {
      background-color:purple;
  }
  .dropdown-item {
      color: white;
  }
  /*end*/

  .avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

