<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="sign.css">
  </head>
  <body>
<div class="login-box">
  <h1>Sign up</h1><br>
 
  <div class="textbox">
    <!--<i class="fas fa-user"></i>-->
    <lable>Enter your name:</lable>
    <input type="text" placeholder="" id="t1" class="tb">
    
  </div>

  <div class="textbox">
    <lable>Your Email:</lable>
    <input type="text" placeholder="" id="t2">
  </div>

  <div class="textbox">
    <lable>Password:</lable>
    <input type="password" placeholder="" id="t4">
  </div>

  <div class="textbox">
    <!--<i class="fas fa-lock"></i>-->
    <lable>Re-enter Password</lable>
    <input type="password" placeholder="" id="t5">
  </div>

  <input type="button" class="btn" value="Create Account">
</div>



  </body>
</html>